<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./semantic.css">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        <!-- <span v-once>{{message}}</span> -->

        <div class="container ui" style="margin-bottom:500px;">
            <h1 class="ui header">基础指令</h1>
            <h2 class="ui dividing header">data </h2>
            <p>{{ loggedIn ? message : '请登录 ：）'}}</p>
            <img :src="imageSrc" :style="{width: imgWidth}" alt="image">
            <div class="ui divider hidden"></div>
            <button :class="[buttonClass, colorClass, {loading: isLoading}]">按钮</button>
            <div class="ui divider hidden"></div>
            <h2 class="ui dividing header">v-text </h2>
            <p v-text="message"></p>
            <div class="ui divider hidden"></div>
            <h2 class="ui dividing header">v-if </h2>
            <div class="ui segment" v-if="loggedIn">
                <p>{{message}}</p>
            </div>
            <div class="ui yellow segment" v-else>
                <p>login please :)</p>
            </div>
            <h2 class="ui dividing header">v-for </h2>
            <ol v-for="(item, index) in items">
                <li>
                    {{index + 1}} - {{item.text}}
                </li>
                <div class="ui hidden divider"></div>
            </ol>
            <div class="ui divider hidden"></div>
            <h2 class="ui dividing header">v-on @ </h2>
            <div class="ui button" @click="like">
                喜欢 💖
            </div>
            <div class="ui red circular label">
                {{counter}}
            </div>
            <h2 class="ui dividing header">事件修饰符 </h2>
            <div class="ui input">
                <input @keyup.enter="process" @change="inputChange" type="text" placeholder="回车输出消息：）">
            </div>
            <div class="ui huge info message">{{inputVal}}</div>
            <div class="ui divider hidden"></div>
            <div class="ui input">
                <input @input="inputVal = $event.target.value" :value="inputVal" type="text" placeholder="立即响应：）">
            </div>
            <div class="ui huge success message">{{inputVal}}</div>
            <h2 class="ui dividing header">v-model </h2>
            <div class="ui checkbox">
                <input type="checkbox" value="hello" v-model="checkBoxVal">
                <label for="">hello</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" value="hi" v-model="checkBoxVal">
                <label for="">hi</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" value="hola" v-model="checkBoxVal">
                <label for="">hola</label>
            </div>
            <div class="ui huge warning message">{{checkBoxVal}}</div>
            <div class="ui hidden divider"></div>
            <div class="ui radio checkbox">
                <input type="radio" value="hello" v-model="radioVal">
                <label for="">hello</label>
            </div>
            <div class="ui radio checkbox">
                <input type="radio" value="hi" v-model="radioVal">
                <label for="">hi</label>
            </div>
            <div class="ui radio checkbox">
                <input type="radio" value="hola" v-model="radioVal">
                <label for="">hola</label>
            </div>
            <div class="ui huge negative message">{{radioVal}}</div>
            <div class="ui divider hidden"></div>
            <select v-model="selected" class="ui fluid dropdown">
                <option v-for="option in options" :value="option.value">{{option.value}}</option>
            </select>
            <div class="ui huge green message">{{selected}}</div>
            <div class="ui hidden didiver"></div>

            <h1 class="ui header">组件</h1>
            <h2 class="ui dividing header">局部注册组件</h2>

            <ui-button></ui-button>

            <h2 class="ui dividing header">全局注册组件</h2>

            <ui-button-g text="button"></ui-button-g>

            <h2 class="ui dividing header">props 传递数据</h2>

            <ui-button-g text="delete"></ui-button-g>
            <ui-button-g text="edit"></ui-button-g>
            <ui-button-g :text="published ? 'publish' : 'unpublish'"></ui-button-g>

            <h2 class="ui dividing header">验证属性</h2>

            <ui-button-g-p text="button"></ui-button-g-p>

            <h2 class="ui dividing header">自定义事件</h2>
            <ui-button-g-e @increment="incrementTotal"></ui-button-g-e>
            <ui-button-g-e @increment="incrementTotal"></ui-button-g-e>
            <div class="ui label circular red">{{total}}</div>

            <h2 class="ui dividing header">slot</h2>
            <segment>
                <h1>header</h1>
                <p>hi , how are you! </p>
            </segment>

            <h2 class="ui dividing header">有名字的slot</h2>
            <card>
                <img slot="image" src="https://resources.ninghao.org/images/the-old-fashioned.png" alt="">
                <h2 slot="header">The Old Fashioned</h2>
                <p slot="meta">Mohamed Chahin</p>
            </card>

            <h1 class="ui header">路由</h1>

            <h2 class="ui dividing header">静态路由</h2>
            <div class="ui three item menu">
                <router-link active-class="active" exact class="item" to="/">首页</router-link>
                <router-link active-class="active" class="item" to="/events">活动</router-link>
                <router-link active-class="active" class="item" to="/active">动态</router-link>
            </div>
            <div class="ui piled segment">
                <router-view></router-view>
            </div>

            <h2 class="ui dividing header">动态路由</h2>

            <div class="ui three item menu">
                <router-link active-class="active" exact class="item" to="/">首页</router-link>
                <router-link active-class="active" class="item" :to="{ name: 'activity', params: {id : 123} }">活动</router-link>
                <router-link active-class="active" class="item" to="/active">动态</router-link>
            </div>
            <div class="ui piled segment">
                <router-view></router-view>
            </div>

            <h1 class="ui header">数据管理（Vuex）</h1>

            <h2 class="ui dividing header">state</h2>
            <Counter></Counter>

            <h2 class="ui dividing header">getters</h2>
            <Counter></Counter>

            <h2 class="ui dividing header">Mutations</h2>
            <Counter></Counter>

            <h2 class="ui dividing header">mapGetters</h2>
            <Counter></Counter>

        </div>

    </div>


    <script src="./vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="./main.js"></script>
</body>

</html>